<.header>
  記録
  <:actions>
    <.link patch={~p"/journals/#{@journal}/show/edit"} phx-click={JS.push_focus()}>
      <.button>変更</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="日付">{@journal.date_at}</:item>
  <:item title="朝☀️">{@journal.morning_rate}</:item>
  <:item title="昼🕛">{@journal.afternoon_rate}</:item>
  <:item title="夜🌃">{@journal.evening_rate}</:item>
</.list>

<.back navigate={~p"/journals"}>戻る</.back>

<.modal
  :if={@live_action == :edit}
  id="journal-modal"
  show
  on_cancel={JS.patch(~p"/journals/#{@journal}")}
>
  <.live_component
    module={CosmosWeb.JournalLive.FormComponent}
    id={@journal.id}
    title={@page_title}
    action={@live_action}
    journal={@journal}
    patch={~p"/journals/#{@journal}"}
    current_user={@current_user}
  />
</.modal>
